* {margin: 0; padding: 0;}

p {font-size: 1.2em;}

body {background-color: teal; font-family: sans-serif;}

header p, header i {
    font-size: 1.2em;
    color: white;
}

header button {
    font-size: 1.2em;
    background-color: rgb(250, 250, 250, 0.6);
    border-radius: 4px;
    border: none;
    padding: 0.5em;
    color: white;
    margin: 5px;
}

header input {
    height: 3em;
    width: 210px;
    background-color: rgb(250, 250, 250, 0.6);
    border: none;
}

header div {
    padding: 1em;
}

header img {
    width: 55px;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
}


nav :nth-child(2) {
   align-self: center;
} 

nav p {display: inline-block;}

nav div {
    display: flex;
    align-items: stretch;
}

main {
    display: flex;
    margin: 1em;
    padding: 1em;
    flex-wrap: nowrap;

}

.fa-search {
    align-self: center;
    position: relative;
    right: 30px;
}

.column-card {
    padding: 1em;
    background-color: #E9E8ED;
    flex: 0 0 300px;
    margin-right: 1em;
    height: 100%;
} 

.column-card div {
    background-color: white;
    padding: 1em;
    margin-bottom: 0.5em;
}